HappyWorkEveryday/HappyWorkEveryday/Service References/MSDNUserServiceReference/MSDNUserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HappyWorkService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HappyWorkService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tb_MSDNUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsCheckOut" type="xs:int" />
      <xs:element minOccurs="0" name="IsTrainee" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tb_MSDNUser" nillable="true" type="tns:Tb_MSDNUser" />
  <xs:complexType name="ArrayOfTb_MSDNUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tb_MSDNUser" nillable="true" type="tns:Tb_MSDNUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTb_MSDNUser" nillable="true" type="tns:ArrayOfTb_MSDNUser" />
</xs:schema>