HappyWorkEveryday/HappyWorkEveryday/Service References/LeaveRecordService/LeaveRecordService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HappyWorkService.CustomModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HappyWorkService.CustomModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLeaveRecordPageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeaveRecordPageModel" nillable="true" type="tns:LeaveRecordPageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeaveRecordPageModel" nillable="true" type="tns:ArrayOfLeaveRecordPageModel" />
  <xs:complexType name="LeaveRecordPageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnglishName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeaveType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalTime" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaveRecordPageModel" nillable="true" type="tns:LeaveRecordPageModel" />
</xs:schema>