HappyWorkEveryday/HappyWorkEveryday/Service References/UserServiceReference/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HappyWorkService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HappyWorkService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tb_User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnglishName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsdnID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OverTime" type="xs:double" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tb_User" nillable="true" type="tns:Tb_User" />
  <xs:complexType name="ArrayOfTb_User">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tb_User" nillable="true" type="tns:Tb_User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTb_User" nillable="true" type="tns:ArrayOfTb_User" />
</xs:schema>