HappyWorkEveryday/HappyWorkEveryday/Service References/DetailServiceReference/DetailService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HappyWorkService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HappyWorkService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tb_Detail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsApproved" type="xs:int" />
      <xs:element minOccurs="0" name="LeaveType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MyBackUp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalTime" type="xs:double" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tb_Detail" nillable="true" type="tns:Tb_Detail" />
  <xs:complexType name="ArrayOfTb_Detail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tb_Detail" nillable="true" type="tns:Tb_Detail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTb_Detail" nillable="true" type="tns:ArrayOfTb_Detail" />
</xs:schema>