HappyWorkEveryday/HappyWorkEveryday/Service References/TechnologyServiceReference/TechnologyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HappyWorkService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HappyWorkService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tb_Technology">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TeamId" type="xs:int" />
      <xs:element minOccurs="0" name="Technology" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tb_Technology" nillable="true" type="tns:Tb_Technology" />
  <xs:complexType name="ArrayOfTb_Technology">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tb_Technology" nillable="true" type="tns:Tb_Technology" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTb_Technology" nillable="true" type="tns:ArrayOfTb_Technology" />
</xs:schema>