HappyWorkEveryday/HappyWorkEveryday/Service References/RoleServiceReference/RoleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HappyWorkService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HappyWorkService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tb_Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLevel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tb_Role" nillable="true" type="tns:Tb_Role" />
  <xs:complexType name="ArrayOfTb_Role">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tb_Role" nillable="true" type="tns:Tb_Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTb_Role" nillable="true" type="tns:ArrayOfTb_Role" />
</xs:schema>