HappyWorkEveryday/HappyWorkEveryday/Service References/TeamInfoServiceReference/TeamInfoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HappyWorkService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HappyWorkService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tb_TeamInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TeamLeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tb_TeamInfo" nillable="true" type="tns:Tb_TeamInfo" />
  <xs:complexType name="ArrayOfTb_TeamInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tb_TeamInfo" nillable="true" type="tns:Tb_TeamInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTb_TeamInfo" nillable="true" type="tns:ArrayOfTb_TeamInfo" />
</xs:schema>