HappyWorkEveryday/HappyWorkEveryday/Service References/OrganizationService/OrganizationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.168.172.218:8090/Services/OrganizationService/OrganizationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HappyWorkService.CustomModels" />
  <xs:element name="FindOrganizationRelationship">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOrganizationRelationshipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HappyWorkService.CustomModels" minOccurs="0" name="FindOrganizationRelationshipResult" nillable="true" type="q1:ArrayOfOrganizationPageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>