HappyWorkEveryday/HappyWorkEveryday/Service References/OrganizationService/OrganizationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HappyWorkService.CustomModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HappyWorkService.CustomModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrganizationPageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganizationPageModel" nillable="true" type="tns:OrganizationPageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizationPageModel" nillable="true" type="tns:ArrayOfOrganizationPageModel" />
  <xs:complexType name="OrganizationPageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnglishName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamLeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizationPageModel" nillable="true" type="tns:OrganizationPageModel" />
</xs:schema>